<slide class="title-slide segue nobackground">
  <hgroup class="auto-fadein">
    <h1>{{ page.title }}</h1>
    <h2>{{ page.subtitle }}</h2>
    <h2>{{ page.talkdate }}</h2>
    <div>
    <p>{{ page.author }}<br/>{{ page.job1 }}<br/>{{ page.job2 }}<br/>{{ page.job3 }}</p>
    {{# page.logoUni }}
  <aside class = "titleImg" id = "UniLogo">
    <img src="{{page.url.assets}}/img/{{{ page.logoUni }}}">
    {{/ page.logoUni }}
  </aside>
    </div>
    </hgroup>
    <a id="fsshortcut" href="javascript:void(0)" class="tshortcut" target="_self">
     Full screen
    </a>
    <a id="printshortcut" href="javascript:void(0)" class="tshortcut" target="_self">
     Print
    </a>
    <a id="dlshortcut" href="https://github.com/mwmclean/iamcs2" class="tshortcut" target="_self">
     Source
    </a>

  <article><button class="navButton" id = "titleButton" onclick="window.slidedeck.nextSlide()">&#8594;</button></article>
  {{# page.license }}
  <footer class = 'license'>
    <a href='http://creativecommons.org/licenses/{{{ page.license }}}/3.0/'>
    <img width = '80px' src = 'http://mirrors.creativecommons.org/presskit/buttons/88x31/png/{{{ page.license }}}.png'>
    </a>
  </footer>
  {{/ page.license }}
</slide>
